@import "bootstrap";



body {
  margin-top: 90px; 
  font-color:white;
  background-color: #B02B2C;
  color: #2b2b2b;
  


}
.nav .active a {
 background:#B02B2C!important;
    border-radius: 7px;
} 

/*zwiekszenie wielkosci navbara (margin top i down) oraz jego przesuniecie w prawo paddingiem*/
.navbar-nav {

    margin-top: 7.5px;
  margin-bottom: 7.5px;
  /*padding-left: 140px;*/
}
/*Zmiana koloru tła "otoczki", oraz powiekszenie obramowania,koloru oraz zaokraglenie krawedzi*/
.well {
  background-color: #DCDDD8;
  border: 3.5px solid #050505;
  border-radius: 20px;

}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
font-weight: bold;
  font-size: 15px;
}
/*Zmiana koloru czcionki w selektorze p*/
p{
color:black;

}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
 
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#pDevise{
font-size: 40px;
color:white;
}
i.glyphicon-facetime-video{

font-size: 80px;
color: white;
}
